{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="cantrion">
<div class="row justify-content-center">
  <div class="col-md-3 order-md-1">
  <img class="img-fluid rounded-circle" width="250" height="250"
    src="{% if profile_pic %} {{profile_pic}} {% else %} /static/default.jpg {% endif %}"
    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
  </div>
  <div class="col-md-4 order-md-2 mb-4">
  <h3 class="mb-0">{{ id }}</h3>
  {% if intro %}
  <p class="card-text mb-auto">{{ intro | linebreaksbr}}</p>
  {% else %}
  {% endif %}

  <a href="{% url 'profile_update' %}">Profile Update</a>
</div>
</div>
</div>
  <!-- <div class="container">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 35rem;">
      <div class="card-body">
        <h5 class="card-title">My Page</h5>
      </div>
      <div class="d-flex justify-content-center">
        <img class="img-fluid rounded-circle" width="250" height="250" src="{% if profile_pic %} {{profile_pic}} {% else %} /static/default.jpg {% endif %}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
      </div>
      <div class="card-body">
        <h5 class="card-title">My Id : {{ id }}</h5>
        {% if intro %}
        <p class="card-text">My Intro : <br>{{ intro | linebreaksbr}}</p>
        {% else %}
        <p class="card-text">자기소개가 없습니다.<br></p>
        {% endif %}
        <a href="{% url 'profile_update' %}" class="btn btn-primary">Profile Update</a>
      </div>
    </div>
  </div>
</div> -->

  {% endblock %}