{% extends 'base.html' %}
{% block content %}
<div class="container">
        <div class="d-flex justify-content-center">
          <div class="card" style="width: 35rem;">
            <div class="card-body">
      
                <form method="POST" class="post-form" enctype="multipart/form-data" action="">
                    {%csrf_token%}  
                    <br>
      
                    {{ profile_form.intro }}

                    {{profile_form.profile_image}}
                    <br>
                    
                    <input type="submit" class="save btn btn-success" value="변경">
                    <a href="{% url 'index' %}">
                      <button type="button" class="btn btn-danger">취소</button>
                    </a>
                  </form>
      
            </div>
          </div>
        </div>
      </div>
{% endblock %}