<!--myApp/templates/index.html-->
{% extends 'base.html' %}

<!-- django에서 지원하는 여러가지 시간 표현 형식 모음 -->
{% load humanize %}

{% block content %}
<body>

<div class="container">
  {% for post in posts.all %}
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-header d-flex justify-content-between">

        <h4 class="my-0 font-weight-normal">{{ post.create_user }}</h4>

      </div>
      <div class="card-body">
        <a class="card-title pricing-card-title">{{ post.main_text }}<small class="text-muted">&nbsp;&nbsp;{{ post.create_date | naturaltime }}</small></a>
        
        <a href="{% url 'update' post.id %}"><img src="/static/update.png" alt="수정" width="25"></a>

        <a class="delete"><img src="/static/delete.png" alt="수정" width="25"></a>

        <hr>
        {% for comment in post.comments.all %}
        <span class="comment_user">{{comment.comment_user}}</span>
        <small class="text-muted">{{comment.comment_date}}</small>
        <br>
        <a class="card-text">{{comment.comment_text}}
        <br>
        {% endfor %}
        
        <form action="{% url 'c_post' post.id %}" method="POST">
          {% csrf_token %}
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="comment_text" id="comment_text" placeholder="댓글 달기 ...">
            <input type="hidden" name="app_url" id="app_url" value="{{app_url}}"/>
            <div class="input-group-prepend">
              <button class="input-group-text" id="inputGroup-sizing-sm" type="submit">게시</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!--
    {% for post in posts.all %}
    <div class="card">
        <div class="card-header">{{ post.create_user }}
          
          <form action="{% url 'update' post.id %}" method="POST">
              {% csrf_token %}
              <button type="submit">수정</button>
          </form>

          <form action="{% url 'delete' post.id %}" method="POST">
              {% csrf_token %}
              <button type="submit">삭제</button>
          </form>

        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{ post.main_text }}</p>
            <a href="{% url 'detail' post.id %}" >댓글 모두 보기 </a><a> {{ post.create_date | naturaltime }}</a>
          </blockquote>
        </div>
        <div class="card-footer">
          <form action="{% url 'c_post' post.id %}" method="POST">
              {% csrf_token %}
              <input type="text" name="comment_text" id="comment_text" placeholder="댓글달아주세요">
              <input type="hidden" name="app_url" id="app_url" value="{{app_url}}"/>
              <button type="submit">댓글달기</button>
          </form>

          {% for comment in post.comments.all %}
          <span class="comment_user">{{comment.comment_user}}</span>
          <small class="text-muted">{{comment.comment_date}}</small>
          <br>
          <a class="card-text">{{comment.comment_text}}

          <form action="{% url 'c_delete' post.pk comment.pk %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="app_url" id="app_url" value="{{app_url}}"/>
              <button type="submit">삭제</button>
          </form>

          {% endfor %}
        </div>
      </div>
      <br>
      {% endfor %}
-->
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

$('.delete').click(function () {

  var pk = $(this).attr('post.id') 

  $.ajax({
    type: "POST",
    url: "{% url 'delete' %}", 
    data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, 
    dataType: "json", 

    success: function (response) { 
      alert(response.message);
    },
    error: function (request, status, error) {
      alert('로그인이 필요합니다.')
    }
  });
})

</script>
</script>


{% endblock %}